.form-control {
	width: 100%;
}
.btn {
	width: 500px;
}
.main_contacto {
	background-image: url(../assets/img/fondo_contactos.jpg);
	padding-bottom: 70px;
	min-height: 100vh;
}
.body_contacto {
	width: 100%;
	position: absolute;
	padding: 0px;
}
