@mixin footer-data {
	background-color: $fondorojo;
	position: absolute;
	top: 100%;
	width: 100%;
	left: 0;
	padding: 0;
}
.footer-data {
	@include footer-data;
}

.footer_content_list {
	display: flex;
	justify-content: center;
	margin: 0px;
}
.footer_content_item {
	margin: 1rem;
}
.rrss:hover {
	opacity: 0.5;
	transition: transform 0.2s ease-out;
}
