$font: "Roboto", sans-serif;
$purple: rgb(194, 151, 207);
$red: rgb(223, 25, 25);
$yellow: rgb(211, 193, 93);
$black: rgb(39, 38, 38);
$black2: rgb(29, 29, 29);
$black3: rgb(0, 0, 0);
$fondorojo: rgb(36, 13, 13);
