<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="description" content="Dirección audiovisual y arte de videoclips">
		<meta name="keywords" content="direccion, cine, videoclip, musica, pop, reggaeton, baile,">
		<title>BEBA-Dirección</title>
		<link
			rel="icon"
			type="image/png"
			sizes="16x16"
			href="../assets/img/favicon-16x16.png"
		/>
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap"
			rel="stylesheet"
		/>
		<link rel="stylesheet" href="../css/estilo.css">
	</head>
	<body>
		<header class="header">
			<nav>
				<ul class="main_nav_list">
					<li class="nav1">
						<a href="../index.html">INICIO</a>
					</li>
					<li class="nav2">
						<a href="direccion.html">DIRECCIÓN</a>
					</li>
					<li class="nav3">
						<a href="fotografia.html">FOTOGRAFÍA</a>
					</li>
					<li class="nav4">
						<a href="dgrafico.html">DISEÑO GRÁFICO</a>
					</li>
				</ul>
			</nav>
		</header>
		<main class="main_direccion">
			<h1 class="encabezado">Dirección</h1>
			<div class="grid_videos">
				<div class="grid_item_video video1">
					
					
						<h2 class="video_title">Franco Rizzaro ft. Angela Torres - AMOR DEL WENO</h2>
					
					<iframe class="videoclip"
					width=""
					height=""
					src="https://www.youtube.com/embed/uMhf3Qydltc"
					title="YouTube video player"
					frameborder="0"
					allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
					allowfullscreen
					></iframe>
				</div>

				<div class="grid_item_video video2">
					
					
						<h2 class="video_title fondo_h2">Franco Rizzaro - SERÁ MEJOR</h2>
					
						<iframe class="videoclip"
					width=""
					height=""
					src="https://www.youtube.com/embed/ExyQkx-0RBY"
					title="YouTube video player"
					frameborder="0"
					allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
					allowfullscreen
					></iframe>
				</div>
				<div class="grid_item_video video3">
					
						<h2 class="video_title">Franco Rizzaro - DESIERTO</h2>
					
						<iframe class="videoclip"
						width=""
						height=""
						src="https://www.youtube.com/embed/picP1J6BItc"
						title="YouTube video player"
						frameborder="0"
					allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
					allowfullscreen
					></iframe>
				</div>
				</div>
			</main>
			<footer class="footer-data">
				<nav>
					<div>
						<ul class="footer_content_list">
							<a href="#top">
								<img class="footer_content_item rrss"src="https://icongr.am/clarity/collapse.svg?size=30&color=e00000" 
								alt="top web" class="top_web" />
								</a>
							<li class="footer_content_item"><a href="contacto.html">CONTACTO</li>
								<li class="footer_content_item rrss"> 
									<a href="https://www.instagram.com/beburrri/" target="_blank">
										<img src="https://icongr.am/entypo/instagram.svg?size=25&color=e00000" alt="instagram_logo">
										
									</a>
								</li>
								<li class="footer_content_item rrss">
									<a href="https://www.facebook.com/belurizzaro" target="_blank">
										<img src="https://icongr.am/entypo/facebook.svg?size=25&color=e00000
										
										" alt="facebook_logo">
									</a>
								</li>
						</ul>
					</div>
				</nav>
			</footer>
	</body>
</html>
